{
  "$schema": "https://json.schemastore.org/schema-catalog.json",
  "version": 1.0,
  "schemas": [
    {
      "name": ".adonisrc.json",
      "description": "AdonisJS configuration file",
      "fileMatch": [
      